<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success | CraveHub</title>
    
    <link rel="icon" type="image/x-icon" th:href="@{/Images/logo.png}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <link rel="stylesheet" th:href="@{/css/Register_Success.css}">
</head>

<body>

    <div class="success-card">
        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
        <h1>Registration Successful!</h1>
        <p>Welcome to CraveHub. Your account has been created.</p>
        <a href="/login" class="btn">Login Now</a>
    </div>

</body>

</html>